@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  #words {
    @apply inline-flex text-xl transition-all;
    /* transition: all 0.25s ease 0s; */
  }

  .word {
    @apply inline-flex m-1 border-b-2 border-b-transparent;
    color: rgb(136, 136, 136);
  }

  .correct {
    /* rgb(250, 250, 250) */
    @apply text-gray-50 ;
  }

  .blurred {
    @apply blur-sm opacity-25;
  }

  .incorrect {
    @apply text-red-300;
  }

  .error {
    @apply font-semibold border-b-red-400;
  }

  #wordsWrapper {
    @apply relative;
  }

  #caret {
    @apply absolute h-7 w-0.5 bg-red-400 top-1;
    animation: blink 1.5s linear 2s infinite;
  }

  #typingTest {
    @apply relative;
  }

  #wordsInput {
    @apply pointer-events-none absolute border-none block opacity-0 outline-none my-0 mx-auto p-0 resize-none -z-[1];
  }

  @keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }
}