@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  #words {
    @apply inline-flex text-xl;
  }

  .word {
    @apply inline-flex m-1 text-gray-400 border-b-2;
  }

  .correct {
    @apply text-gray-100;
  }

  .incorrect {
    @apply text-red-500;
  }

  #wordsWrapper {
    @apply relative;
  }

  #caret {
    @apply absolute h-7 w-0.5 bg-red-600 top-1;
    animation: blink 1.5s linear 2s infinite;
  }

  @keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
  }
}