@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer components {
	.word {
		@apply inline-flex m-1 border-b-2 border-transparent h-max;
	}

	.correct {
		@apply text-gray-50;
	}

	.incorrect {
		@apply text-red-400;
	}

	.incorrect.extra {
		@apply text-red-800;
	}

	#words.blurred {
		@apply opacity-25 blur-sm transition-all delay-1000;
	}

	.outOfFocusWarning {
		@apply mx-auto h-0 leading-[4.25rem] text-center;
		animation: fadeIn 1.5s ease-in-out;
	}

	#words {
		@apply inline-flex flex-wrap h-[76px] text-xl text-gray-400;
		transition: transform 150ms ease-in;
	}

	#wordsWrapper {
		@apply relative w-full overflow-hidden;
	}

	#caret {
		@apply absolute w-0.5 h-7 transition-all top-1 bg-red-400;
	}

	#typingTest {
		@apply flex flex-col w-[780px];
	}

	#wordsInput {
		@apply pointer-events-none absolute border-none opacity-0 block outline-none resize-none -z-10;
	}

	#restartTestBtn {
		@apply p-1 mx-auto mb-1;
	}

	@keyframes fadeIn {
		0%,
		66% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}
